/* Definindo as variáveis de cores */

:root {
    --cor-primaria-escura: #451952;
    --cor-primaria-clara: #662549;
    --cor-branca: #ffff;
    --cor-destaque: #FFFAD7;
    --fonte-principal: 'Roboto', sans-serif;
}

.border-rounded {
    border-radius: 10px;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--cor-destaque);
    margin: 0;
}

header {
    background-color: var(--cor-primaria-escura);
    color: var(--cor-branca);
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid var(--cor-primaria-clara);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content li a:hover {
    text-decoration: underline;
}

header h1 {
    margin: 0 auto;
    display: block;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header img {
    height: 50px;
    margin-left: 10px;
}

header li {
    list-style-type: none;
}

header li a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: -48px;
}

nav {
    background-color: var(--cor-primaria-clara);
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
    /* Espaçamento entre os itens do menu */
}

.nav-list a {
    text-decoration: none;
    color: var(--cor-botao-nav);
    font-weight: bold;
    font-size: 18px;
}

#loginimagem {
    height: 5vh;
    width: 5vh;
    margin-right: 5%;
}

.nav-list a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-button {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

nav input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}

.character-card {
    flex-basis: calc(33.333% - 10px);
    /* Reduzindo o tamanho dos cartões */
    background-color: var(--cor-primaria-escura);
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.2s;
    box-sizing: border-box;
}

.character-link {
    display: block;
    text-decoration: none;
    color: var(--cor-branca);
}

.character-card img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quim .character-card {
    margin-left: 34%;
}

footer {
    background-color: var(--cor-primaria-escura);
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 5px solid var(--cor-primaria-clara);
    border-radius: 0 0 10px 10px;
}


/* Cadastro */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* remove a linha dos links */

a {
    text-decoration: none;
}


/* esconde as ancoras da tela */

a.links {
    display: none;
}

.content {
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
}

.content h1 {
    font-size: 48px;
    color: #640858;
    padding: 2px 0 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.content h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(92, 0, 92, 0.8) 20%, rgb(82, 1, 98) 53%, rgba(99, 0, 84, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
    margin-bottom: 15px;
}

.content p:first-child {
    margin: 0px;
}

label {
    color: #440059;
    position: relative;
}


/* placeholder */

::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input {
    outline: none;
}


/*estilo dos input,  menos o checkbox */

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


/*estilo do botão submit */

input[type="submit"] {
    width: 100%!important;
    cursor: pointer;
    background: #640858;
    ;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}


/*estilo do botão submit no hover */

input[type="submit"]:hover {
    background: #640858;
    ;
}

.link {
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: #640858;
    margin-left: 10px;
    border: 1px solid #cbd518;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
}

#cadastro,
#login {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


/* Efeito ao clicar no botão ( Ir para Login ) */

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}


/* Efeito ao clicar no botão ( Cadastre-se ) */

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}


/*fadeInLeft*/

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*fadeOutLeft*/

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}